* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-size: 1rem;
  --header-height: 75px;
  --dark: #282a35;
  /* border */
  --border-solid: 1px solid black;
  --border-solid: 3px solid black;
  --border-dotted: 1px dotted black;
  --border-double: 1px double black;
}

html {
  font-size: var(--font-size);
}
