body {
  background: var(--dark);
  height: 100vh;
}

main {
  border: 1px solid black;
  display: flex;
  margin-top: 30px;

  justify-content: space-around;
}

section {
  border: var(--border-solid);
}

.container {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
  width: 80vw;
}

@media (max-width: 450px) {
  main {
    flex-wrap: wrap;
  }
  .portre {
    width: 200px;
  }
  .container {
    font-size: 0.8rem;
  }
}
@media (min-width: 450px) {
  .portre {
    width: 100%;
  }
}

<button>Get in Contact with Me</button>
